
/***** GENERAL *********/

*{
    
    padding: 0px;
    margin: 0px;
    text-decoration: none;
    list-style: none;
    
}

body{
    
    position: relative;
    
}



/***** NAVBAR*******/

.navbar{
    
    width: 100%;
    height: 70px;
    border: 1px solid #e9e9e9;
    display: flex;
    padding-top: ; 
    align-items: center;
    justify-content: space-between;
   
    
}


.box-2{
     
   
  flex-basis : 50%;
    
  
   
    
}
.box-1{
    
    display:flex;
    align-items: center;
    flex-basis: 20%;
     
}
.box-3{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
 
    flex-basis: 10%;
    margin-right: 20px;
}


.fabars{
   
    
    
   background-color: red;
    margin-left: 30px;
    margin-right: 40px;
   
}

.fa-youtube{

    color: red;
    font-size: 25px;
   

}

.logotext{
    font-size: 25px;
    margin-left: 5px;
}
.log{
    
   color:red;
}

.fa-magnifying-glass{

     color: black;
    font-size: 20px;
    background: red;
   position: relative;
    right: 49px;
    padding: 12px;
    top: 2px;
     border-radius: 0px 10px 10px 0px ;
    
}


.box-2 input[type=text]{
  padding: 7px;
  border: none ;
  background-color: #e9e9e9 ;
  font-size: 17px;
}

.search-bar{
    width: 70%;
    height: 30px;
    border-radius: 10px;
}

.fa-microphone{
    color: #444;
    font-size: 25px;
    margin-left: 20px;
    position: relative;
    top:3px;
    right:12px;
}



.fa-grip{
    
    color: #444;
    font-size: 25px;
}


.profile{
    width: 30px;
    height: 30px;
    
    border-radius:100%;
    border: 1px solid #444;
    
}

.fa-video{
    
    color:#444;
    font-size: 25px; 
}


/******************** Flex box Containner***********************/
.flex-box{ 

    display: flex;
    align-items: flex-start;
}


/******************** SECTION SIDE BAR***********************/


.side-bar{
    
    
    width: 9%;
    border: 1px solid #ccc;
    background-color: #e9e9e9;
   
   
   
}

section ul li{
    
    list-style: none;
    border-bottom: 1px solid #ccc;
    padding: 25px;
    
    
 
}

section ul li:hover a{
    
    padding-left: 10px;
   transition: .4s;
}



/******************** Slide sidebar ***********************/

.slidenav{
    
    height:100vh;
    width: 0;
    position: fixed;
    top:0;
    left: 0;
    background-color: #e9e9e9;
    overflow-x: hidden;
    z-index: 1;
    transition: .4s ;
    padding-top: 10px;
    
    
    
}


.slidenav ul li a {
    
    display: flex;
    align-items: center;
    padding:10px 10px 10px 30px;
    line-height: 20px;
   
    
}

.fabars2{
   
    
    
   background-color: red;
   margin-bottom: 20px;
    
    
    
   
}

#navslide{
    
    overflow:auto;
}


.slidenav .icon-descri{

    font-size: 17px;
    padding-left: 20px;
}

.slidenav .Library{

    border-bottom: 1px solid #ccc;
}

.slidenav .suscribe{

    font-size: 15px;
    text-transform: uppercase;
    font-weight: 2em;
    padding-top: 10px;
    color: rgb(82, 75, 75);
}





/******************** MAIN PAGE VIDEO SECTION ***********************/

 .main-page{

   
    width: 100%;
    height: 100vh;

}

.main-page .banner{

    height: 19%;
    background: url(images/nikhil-dptLjqfz2bg-unsplash.jpg);
    border-bottom: 1px solid #ccc;
    color: white;
    
    
}


.main-page .main-box{

    display: flex;
    margin-top: 20px;
    padding: 15px 30px;
  
}



.main-page .main-box .video-box{
    margin: 0 auto;
    background-color: #e9e9e9;
    border: 1px solid #ccc;
    width: 270px ;
    
    
}

.video-box .video-title {
    display: flex;
    padding: 20px;
    
   

}
.video-box .video-title .text {

    text-transform: capitalize;
    font-size: 17px;
    width:200px ;
    line-height: 1.4 ;
    
}
.video-box .video-title .profile1{
    
    
    width: 30px;
    height: 30px; 
    border-radius:100%;
    border: 1px solid #444;
    margin-right: 20px;    
    
    
}

.video-box .video-title .text .video-details{
    color: rgba(0, 0, 0, 0.493);
    
    margin-top: 20px;
}

